{
  "openapi": "3.0.1",
  "info": {
    "title": "NoFrixion MoneyMoov API",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api-sandbox.nofrixion.com",
      "description": "v1"
    }
  ],
  "paths": {
    "/api/v1/accounts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get a list of all payment accounts the user has access to.",
        "description": "\n\n<b>Authorization</b>: End user or Merchant token (IP address whitelisted) is required.",
        "operationId": "GetAccounts",
        "parameters": [
          {
            "name": "merchantID",
            "in": "query",
            "description": "The merchantID of the accounts to retrieve.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "connectedAccounts",
            "in": "query",
            "description": "Optional include connected accounts along with payment accounts.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "onlyConnectAccounts",
            "in": "query",
            "description": "Only return connected accounts",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includeArchived",
            "in": "query",
            "description": "Flag that indicates whether to fetch archived accounts or not.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the list of accounts",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.PaymentAccount"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.PaymentAccount"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.PaymentAccount"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Creates a new merchant payment account.",
        "description": "Swagger narrows create.currency to the currencies currently configured for holding accounts.\r\nThe authoritative list for the current environment is exposed by GET /api/v1/currencies?capability=Holding.\n\n<b>Authorization</b>: End user or Merchant token is required.\n\n<b>User permissions required</b>: CanCreateAccounts",
        "operationId": "CreateAccount",
        "requestBody": {
          "description": "The details of the payment account to create.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.PaymentAccountCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.PaymentAccount"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.PaymentAccount"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.PaymentAccount"
                }
              }
            }
          },
          "201": {
            "description": "The payment account was successfully created and is ready to use."
          },
          "202": {
            "description": "The payment account was created but the is not yet ready to use."
          }
        }
      }
    },
    "/api/v1/accounts/paged": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get a paged list of all payment accounts the user has access to for a specific merchant.",
        "description": "\n\n<b>Authorization</b>: End user or Merchant token (IP address whitelisted) is required.",
        "operationId": "GetAccountsPaged",
        "parameters": [
          {
            "name": "merchantID",
            "in": "query",
            "description": "The merchantID of the accounts to retrieve.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "description": "Optional. Array. If specified will only return accounts for these currencies.",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "NONE",
                  "GBP",
                  "EUR",
                  "USD",
                  "AUD",
                  "BGN",
                  "CAD",
                  "CZK",
                  "DKK",
                  "HUF",
                  "ISK",
                  "CHF",
                  "NOK",
                  "PLN",
                  "RON",
                  "AED",
                  "CNH",
                  "HKD",
                  "ILS",
                  "JPY",
                  "MXN",
                  "NZD",
                  "SAR",
                  "SEK",
                  "SGD",
                  "TRY",
                  "ZAR",
                  "BTC"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "connectedAccounts",
            "in": "query",
            "description": "Optional include connected accounts along with payment accounts.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Optional. The page number to retrieve.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Optional. The number of accounts per page.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "The text filter to apply to retrieve accounts with a similar account name, IBAN etc.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Optional expression to sort the order of the accounts. Example \"AvailableBalance desc,Inserted asc\".",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyConnectAccounts",
            "in": "query",
            "description": "Only return connected accounts",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "onlyArchived",
            "in": "query",
            "description": "Flag that indicates whether to fetch only archived accounts or not.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includeArchived",
            "in": "query",
            "description": "Flag that indicates whether to fetch archived accounts or not.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includeChildMerchants",
            "in": "query",
            "description": "Flag that indicates whether to include accounts from child merchants.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the list of accounts for the merchant.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.PaymentAccountPageResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.PaymentAccountPageResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.PaymentAccountPageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/accounts/minimal": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get a paged list of all payment accounts minimal the user has access to for a specific merchant.",
        "description": "\n\n<b>Authorization</b>: End user or Merchant token (IP address whitelisted) is required.",
        "operationId": "GetAccountsMinimal",
        "parameters": [
          {
            "name": "merchantID",
            "in": "query",
            "description": "The merchantID of the accounts to retrieve.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "description": "Optional. Array. If specified will only return accounts for these currencies.",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "NONE",
                  "GBP",
                  "EUR",
                  "USD",
                  "AUD",
                  "BGN",
                  "CAD",
                  "CZK",
                  "DKK",
                  "HUF",
                  "ISK",
                  "CHF",
                  "NOK",
                  "PLN",
                  "RON",
                  "AED",
                  "CNH",
                  "HKD",
                  "ILS",
                  "JPY",
                  "MXN",
                  "NZD",
                  "SAR",
                  "SEK",
                  "SGD",
                  "TRY",
                  "ZAR",
                  "BTC"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "connectedAccounts",
            "in": "query",
            "description": "Optional include connected accounts along with payment accounts.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Optional. The page number to retrieve.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Optional. The number of accounts per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "The text filter to apply to retrieve accounts with a similar account name, IBAN etc.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Optional expression to sort the order of the accounts. Example \"AvailableBalance desc,Inserted asc\".",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyConnectAccounts",
            "in": "query",
            "description": "Only return connected accounts",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "onlyArchived",
            "in": "query",
            "description": "Flag that indicates whether to fetch only archived accounts or not.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includeArchived",
            "in": "query",
            "description": "Flag that indicates whether to fetch archived accounts or not.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the list of accounts for the merchant.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.PaymentAccountMinimalPageResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.PaymentAccountMinimalPageResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.PaymentAccountMinimalPageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/accounts/export": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Exports a list of all payment accounts the user has access to for a specific merchant.",
        "description": "\n\n<b>Authorization</b>: End user token is required.",
        "operationId": "ExportAccounts",
        "parameters": [
          {
            "name": "merchantID",
            "in": "query",
            "description": "The merchantID of the accounts to retrieve.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "connectedAccounts",
            "in": "query",
            "description": "Optional include connected accounts along with payment accounts.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Optional. The page number to retrieve.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Optional. The number of accounts per page.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "description": "Optional. Array. If specified will only return accounts for thes currencies.",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "NONE",
                  "GBP",
                  "EUR",
                  "USD",
                  "AUD",
                  "BGN",
                  "CAD",
                  "CZK",
                  "DKK",
                  "HUF",
                  "ISK",
                  "CHF",
                  "NOK",
                  "PLN",
                  "RON",
                  "AED",
                  "CNH",
                  "HKD",
                  "ILS",
                  "JPY",
                  "MXN",
                  "NZD",
                  "SAR",
                  "SEK",
                  "SGD",
                  "TRY",
                  "ZAR",
                  "BTC"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "The text filter to apply to retrieve accounts with a similar account name, IBAN etc.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Optional expression to sort the order of the accounts. Example \"AvailableBalance desc,Inserted asc\".",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyConnectAccounts",
            "in": "query",
            "description": "Only return connected accounts",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "onlyArchived",
            "in": "query",
            "description": "Flag that indicates whether to fetch only archived accounts or not.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includeArchived",
            "in": "query",
            "description": "Flag that indicates whether to fetch archived accounts or not.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includeChildMerchants",
            "in": "query",
            "description": "Flag that indicates whether to include accounts from child merchants.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a csv file of the accounts for the merchant.",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "202": {
            "description": "Accepted. The CSV file is being generated."
          }
        }
      }
    },
    "/api/v1/accounts/{accountID}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get an account.",
        "description": "\n\n<b>Authorization</b>: End user or Merchant token (IP address whitelisted) is required.",
        "operationId": "GetAccount",
        "parameters": [
          {
            "name": "accountID",
            "in": "path",
            "description": "The accountID of the account to retrieve.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The payment account.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.PaymentAccount"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.PaymentAccount"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.PaymentAccount"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/accounts/{id}": {
      "put": {
        "tags": [
          "Accounts"
        ],
        "summary": "Updates an account record.",
        "description": "\n\n<b>Authorization</b>: End user or Merchant token is required.\n\n<b>User permissions required</b>: CanUpdateAccount",
        "operationId": "UpdateAccount",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the account to update.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The object containing the details of account to update (only name is editable).",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.AccountUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated Account record.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.PaymentAccount"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.PaymentAccount"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.PaymentAccount"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/accounts/{accountID}/transactions": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get a list of the transactions for a single payment account.",
        "description": "\n\n<b>Authorization</b>: End user or Merchant token (IP address whitelisted) is required.\n\n<b>User permissions required</b>: CanViewTransactions",
        "operationId": "GetAccountTransactionsPaged",
        "parameters": [
          {
            "name": "accountID",
            "in": "path",
            "description": "The ID of the account to retrieve transactions for.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "description": "The start date to retrieve transactions from.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The page number to retrieve.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of transactions per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "description": "The end date to retrieve transactions from.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "creditType",
            "in": "query",
            "description": "The type of transactions to retrieve from.",
            "schema": {
              "enum": [
                "All",
                "Payin",
                "Payout"
              ],
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "The text filter to apply to retrieve transactions with a similar title, description, merchant name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Optional expression to sort the order of the transactions. Example \"Amount desc,Inserted asc\".",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "minAmount",
            "in": "query",
            "description": "The amount filter to apply to retrieve transactions that exceed this amount.",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "maxAmount",
            "in": "query",
            "description": "The amount filter to apply to retrieve transactions that don't exceed this amount.",
            "schema": {
              "type": "number",
              "format": "double"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of the transactions for the payment account.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.TransactionPageResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.TransactionPageResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.TransactionPageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/accounts/{accountID}/transactions/export": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Exports a list of all transactions for a specific account in CSV format.",
        "description": "\n\n<b>Authorization</b>: End user token is required.\n\n<b>User permissions required</b>: CanViewTransactions",
        "operationId": "ExportAccountTransactions",
        "parameters": [
          {
            "name": "accountID",
            "in": "path",
            "description": "The ID of the account to retrieve transactions for.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "description": "The start date to retrieve transactions from.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The page number to retrieve.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of transactions per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "description": "The end date to retrieve transactions from.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "creditType",
            "in": "query",
            "description": "The type of transactions to retrieve from.",
            "schema": {
              "enum": [
                "All",
                "Payin",
                "Payout"
              ],
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "The text filter to apply to retrieve transactions with a similar title, description, merchant name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Optional expression to sort the order of the transactions. Example \"Amount desc,Inserted asc\".",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "minAmount",
            "in": "query",
            "description": "The amount filter to apply to retrieve transactions that exceed this amount.",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "maxAmount",
            "in": "query",
            "description": "The amount filter to apply to retrieve transactions that don't exceed this amount.",
            "schema": {
              "type": "number",
              "format": "double"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of the transactions for the payment account in CSV format.",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "202": {
            "description": "Accepted. The CSV file is being generated."
          }
        }
      }
    },
    "/api/v1/accounts/{accountID}/transactions/{id}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get a transaction.",
        "description": "\n\n<b>Authorization</b>: End user or Merchant token (IP address whitelisted) is required.\n\n<b>User permissions required</b>: CanViewTransactions",
        "operationId": "GetTransactionForAccount",
        "parameters": [
          {
            "name": "accountID",
            "in": "path",
            "description": "The ID of the account to retrieve transactions for.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The transaction ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The transaction.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.Transaction"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.Transaction"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.Transaction"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/accounts/{accountID}/payouts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Gets a list of all payouts for a specific account.",
        "description": "\n\n<b>Authorization</b>: End user or Merchant token (IP address whitelisted) is required.\n\n<b>User permissions required</b>: CanViewPayouts",
        "operationId": "GetAccountPayouts",
        "parameters": [
          {
            "name": "accountID",
            "in": "path",
            "description": "Required. The ID of the account to get the payouts for.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The page number from where records are retrieved.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of records to be retrieved from a page.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "statuses",
            "in": "query",
            "description": "An optional status filter for the payout records.",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "UNKNOWN",
                  "REJECTED",
                  "PENDING",
                  "PROCESSED",
                  "PENDING_APPROVAL",
                  "QUEUED_UPSTREAM",
                  "QUEUED",
                  "FAILED",
                  "PENDING_INPUT",
                  "SCHEDULED",
                  "REJECTED_APPROVAL"
                ],
                "type": "string",
                "description": "The status of payout."
              }
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "description": "The date filter to apply to retrieve payouts created after this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "description": "The date filter to apply to retrieve payouts created up until this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "The text filter to apply to retrieve payouts with a similar title, description, merchant name or contact information.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "description": "The currency filter to apply to retrieve payouts with this currency.",
            "schema": {
              "enum": [
                "NONE",
                "GBP",
                "EUR",
                "USD",
                "AUD",
                "BGN",
                "CAD",
                "CZK",
                "DKK",
                "HUF",
                "ISK",
                "CHF",
                "NOK",
                "PLN",
                "RON",
                "AED",
                "CNH",
                "HKD",
                "ILS",
                "JPY",
                "MXN",
                "NZD",
                "SAR",
                "SEK",
                "SGD",
                "TRY",
                "ZAR",
                "BTC"
              ],
              "type": "string"
            }
          },
          {
            "name": "minAmount",
            "in": "query",
            "description": "The amount filter to apply to retrieve payouts that exceed this amount.",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "maxAmount",
            "in": "query",
            "description": "The amount filter to apply to retrieve payouts that don't exceed this amount.",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "The tag filter to apply to retrieve payouts with at least one of these tags.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Optional expression to sort the order of the payouts.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of payout records.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.Biz.BizModels.Paging.PayoutPageResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.Biz.BizModels.Paging.PayoutPageResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.Biz.BizModels.Paging.PayoutPageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/accounts/{accountID}/topup/{amount}": {
      "put": {
        "tags": [
          "Accounts"
        ],
        "summary": "SANDBOX ONLY. Top-ups a payment account with the amount provided.",
        "description": "\n\n<b>Authorization</b>: End user token is required.",
        "operationId": "TopupAccount",
        "parameters": [
          {
            "name": "accountID",
            "in": "path",
            "description": "The ID of the payment account.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "amount",
            "in": "path",
            "description": "The amount to top-up on the payment account.",
            "required": true,
            "schema": {
              "type": "number",
              "format": "double"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/accounts/archive/{id}": {
      "delete": {
        "tags": [
          "Accounts"
        ],
        "summary": "Sets the specified account as archived.",
        "description": "\n\n<b>Authorization</b>: End user or Merchant token is required.\n\n<b>User permissions required</b>: CanArchiveAccounts",
        "operationId": "ArchiveAccount",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the account to archive.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No result is returned."
          }
        }
      }
    },
    "/api/v1/accounts/unarchive/{id}": {
      "put": {
        "tags": [
          "Accounts"
        ],
        "summary": "Sets the specified account as unarchived / active.",
        "description": "\n\n<b>Authorization</b>: End user or Merchant token is required.\n\n<b>User permissions required</b>: CanArchiveAccounts",
        "operationId": "UnarchiveAccount",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the account to unarchive.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No result is returned."
          }
        }
      }
    },
    "/api/v1/accounts/{accountID}/statements": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Sends a message to the transaction statement queue to generate a statement with the supplied parameters.",
        "description": "\n\n<b>Authorization</b>: End user token is required.\n\n<b>User permissions required</b>: CanExportData",
        "operationId": "GenerateAccountStatement",
        "parameters": [
          {
            "name": "accountID",
            "in": "path",
            "description": "The account id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Request object containing the parameters for the statement generation.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.GenerateStatementRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.GenerateStatementRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.GenerateStatementRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.GenerateStatementRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/accounts/{accountID}/statements/{id}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Gets the specified statement from the user's cache.",
        "description": "\n\n<b>Authorization</b>: End user token is required.\n\n<b>User permissions required</b>: CanExportData",
        "operationId": "GetAccountStatement",
        "parameters": [
          {
            "name": "accountID",
            "in": "path",
            "description": "The account id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID of the requested statement.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/accounts/statements": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Gets all active statement generation requests for the user.",
        "description": "\n\n<b>Authorization</b>: End user token is required.",
        "operationId": "GetAllAccountStatements",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "Accounts"
        ],
        "summary": "Clears the cached user statements for a user.",
        "description": "\n\n<b>Authorization</b>: End user token is required.",
        "operationId": "ClearAccountStatements",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/accounts/{accountID}/payouts/failed": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get failed payouts for a specific account.",
        "description": "\n\n<b>Authorization</b>: End user or Merchant token (IP address whitelisted) is required.\n\n<b>User permissions required</b>: CanViewPayouts",
        "operationId": "GetFailedPayoutsForAccount",
        "parameters": [
          {
            "name": "accountID",
            "in": "path",
            "description": "The account id to get the failed payouts for.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "fromDateUtc",
            "in": "query",
            "description": "Optional. The date to fetch the payouts from. Must be ISO 8601 format",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Optional. The page size. Default is 20",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.PayoutKeysetPageResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.PayoutKeysetPageResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.PayoutKeysetPageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/accounts/{accountID}/virtual": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Creates a new virtual account.",
        "description": "\n\n<b>Authorization</b>: End user or Merchant token is required.",
        "operationId": "CreateVirtualAccount",
        "parameters": [
          {
            "name": "accountID",
            "in": "path",
            "description": "The physical account id to create the virtual account for.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The details of the virtual account to create.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.VirtualAccountCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.PaymentAccount"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.PaymentAccount"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.PaymentAccount"
                }
              }
            }
          },
          "201": {
            "description": "The virtual account was successfully created and is ready to use."
          }
        }
      },
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Gets a paged list of virtual accounts for a specific account.",
        "description": "\n\n<b>Authorization</b>: End user or Merchant token (IP address whitelisted) is required.",
        "operationId": "GetVirtualAccounts",
        "parameters": [
          {
            "name": "accountID",
            "in": "path",
            "description": "The physical account id to get the virtual accounts for.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Optional. The page number to retrieve.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Optional. The number of accounts per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.PaymentAccountPageResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.PaymentAccountPageResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.PaymentAccountPageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/accounts/{accountID}/virtual/{virtualAccountID}": {
      "put": {
        "tags": [
          "Accounts"
        ],
        "summary": "Updates a virtual account record.",
        "description": "\n\n<b>Authorization</b>: End user or Merchant token is required.\n\n<b>User permissions required</b>: CanUpdateAccount",
        "operationId": "UpdateVirtualAccount",
        "parameters": [
          {
            "name": "accountID",
            "in": "path",
            "description": "The physical account id to update the virtual account for.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "virtualAccountID",
            "in": "path",
            "description": "The virtual accoutt id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The details of the virtual account update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.VirtualAccountUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated Virtual Account record.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.PaymentAccount"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.PaymentAccount"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.PaymentAccount"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/accounts/{accountID}/{currency}": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Creates a new payment account in a different currency, based on an existing payment account.",
        "description": "\n\n<b>Authorization</b>: End user or Merchant token is required.",
        "operationId": "CreateAccountForAdditionalCurrency",
        "parameters": [
          {
            "name": "accountID",
            "in": "path",
            "description": "The ID of the existing payment account.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "currency",
            "in": "path",
            "description": "The currency for the new payment account (must differ from the existing account's currency).",
            "required": true,
            "schema": {
              "enum": [
                "NONE",
                "GBP",
                "EUR",
                "USD",
                "AUD",
                "BGN",
                "CAD",
                "CZK",
                "DKK",
                "HUF",
                "ISK",
                "CHF",
                "NOK",
                "PLN",
                "RON",
                "AED",
                "CNH",
                "HKD",
                "ILS",
                "JPY",
                "MXN",
                "NZD",
                "SAR",
                "SEK",
                "SGD",
                "TRY",
                "ZAR",
                "BTC"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.PaymentAccount"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.PaymentAccount"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.PaymentAccount"
                }
              }
            }
          },
          "201": {
            "description": "The payment account was successfully created and is ready to use."
          }
        }
      }
    },
    "/api/v1/beneficiaries": {
      "get": {
        "tags": [
          "Beneficiaries"
        ],
        "summary": "Gets a list of all beneficiaries.",
        "description": "\n\n<b>Authorization</b>: End user token is required.",
        "operationId": "GetBeneficiaries",
        "parameters": [
          {
            "name": "merchantID",
            "in": "query",
            "description": "Optional. The ID of the merchant to retrieve the beneficiaries for. \r\n            If not set beneficiaries for all merchants the user has access to will be returned",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The page number from where records are retrieved.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of records to be retrieved from a page.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "The text filter used to retrieve the records.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "description": "The currency filter used to retrieve the records..",
            "schema": {
              "enum": [
                "NONE",
                "GBP",
                "EUR",
                "USD",
                "AUD",
                "BGN",
                "CAD",
                "CZK",
                "DKK",
                "HUF",
                "ISK",
                "CHF",
                "NOK",
                "PLN",
                "RON",
                "AED",
                "CNH",
                "HKD",
                "ILS",
                "JPY",
                "MXN",
                "NZD",
                "SAR",
                "SEK",
                "SGD",
                "TRY",
                "ZAR",
                "BTC"
              ],
              "type": "string"
            }
          },
          {
            "name": "includeDisabled",
            "in": "query",
            "description": "If set to true will include disabled beneficiaries as well",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Optional expression to sort the order of the beneficiaries.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceAccountID",
            "in": "query",
            "description": "Optional. The ID of the source account to filter beneficiaries by.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the list of beneficiaries.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.BeneficiaryPageResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.BeneficiaryPageResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.BeneficiaryPageResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Beneficiaries"
        ],
        "summary": "Creates a new beneficiary.",
        "description": "The authorisation requirements for a new beneficiary depend on each merchant's settings. By\r\n            default new beneficiaries do not require authorisation before being enabled.\n\n<b>Authorization</b>: End user token is required.\n\n<b>User permissions required</b>: CanCreateBeneficiaries",
        "operationId": "CreateBeneficiary",
        "requestBody": {
          "description": "The beneficiary to create.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.BeneficiaryCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.Beneficiary"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.Beneficiary"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.Beneficiary"
                }
              }
            }
          },
          "201": {
            "description": "The newly created beneficiary."
          },
          "409": {
            "description": "Beneficiary already exists for this merchant."
          }
        }
      }
    },
    "/api/v1/beneficiaries/export": {
      "get": {
        "tags": [
          "Beneficiaries"
        ],
        "summary": "Export beneficiaries to CSV.",
        "description": "\n\n<b>Authorization</b>: End user token is required.",
        "operationId": "ExportBeneficiaries",
        "parameters": [
          {
            "name": "merchantID",
            "in": "query",
            "description": "Optional. The ID of the merchant to retrieve the beneficiaries for. \r\n            If not set beneficiaries for all merchants the user has access to will be returned",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The page number from where records are retrieved.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of records to be retrieved from a page.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "The text filter used to retrieve the records.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "description": "The currency filter used to retrieve the records..",
            "schema": {
              "enum": [
                "NONE",
                "GBP",
                "EUR",
                "USD",
                "AUD",
                "BGN",
                "CAD",
                "CZK",
                "DKK",
                "HUF",
                "ISK",
                "CHF",
                "NOK",
                "PLN",
                "RON",
                "AED",
                "CNH",
                "HKD",
                "ILS",
                "JPY",
                "MXN",
                "NZD",
                "SAR",
                "SEK",
                "SGD",
                "TRY",
                "ZAR",
                "BTC"
              ],
              "type": "string"
            }
          },
          {
            "name": "includeDisabled",
            "in": "query",
            "description": "If set to true will include disabled beneficiaries as well",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Optional expression to sort the order of the beneficiaries.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the list of beneficiaries in CSV format.",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "202": {
            "description": "Accepted. The CSV file is being generated."
          }
        }
      }
    },
    "/api/v1/beneficiaries/{id}": {
      "get": {
        "tags": [
          "Beneficiaries"
        ],
        "summary": "Get's a beneficiary by beneficiary ID.",
        "description": "\n\n<b>Authorization</b>: End user token is required.\n\n<b>User permissions required</b>: CanViewBeneficiaries",
        "operationId": "GetBeneficiary",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The beneficiaryID of the beneficiary to retrieve.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The beneficiary record.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.Beneficiary"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.Beneficiary"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.Beneficiary"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Beneficiaries"
        ],
        "summary": "Deletes a beneficiary",
        "description": "\n\n<b>Authorization</b>: End user token is required.\n\n<b>User permissions required</b>: CanDeleteBeneficiaries",
        "operationId": "DeleteBeneficiary",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the beneficiary to delete.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "No result is returned."
          }
        }
      },
      "put": {
        "tags": [
          "Beneficiaries"
        ],
        "summary": "Updates a beneficiary.",
        "description": "\n\n<b>Authorization</b>: End user token is required.\n\n<b>User permissions required</b>: CanEditBeneficiaries",
        "operationId": "UpdateBeneficiary",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the beneficiary to update.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The beneficiary to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.BeneficiaryUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated beneficiary record.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.Beneficiary"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.Beneficiary"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.Beneficiary"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/beneficiaries/authorise/{id}": {
      "post": {
        "tags": [
          "Beneficiaries"
        ],
        "summary": "Authorises a beneficiary.",
        "description": "\n\n<b>Authorization</b>: Strong end user token is required.\n\n<b>User permissions required</b>: CanAuthoriseBeneficiaries",
        "operationId": "AuthoriseBeneficiary",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the beneficiary record to authorise.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          }
        }
      }
    },
    "/api/v1/beneficiaries/disable/{id}": {
      "put": {
        "tags": [
          "Beneficiaries"
        ],
        "summary": "Attempts to disable a beneficiary. If successful the beneficiary will be disabled.",
        "description": "\n\n<b>Authorization</b>: End user token is required.\n\n<b>User permissions required</b>: CanEditBeneficiaries",
        "operationId": "DisableBeneficiary",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the beneficiary to disable.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The updated beneficiary record.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.Beneficiary"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.Beneficiary"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.Beneficiary"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/beneficiaries/enable/{id}": {
      "put": {
        "tags": [
          "Beneficiaries"
        ],
        "summary": "Attempts to enable a beneficiary. If successful the beneficiary will be enabled.",
        "description": "\n\n<b>Authorization</b>: End user token is required.\n\n<b>User permissions required</b>: CanEditBeneficiaries",
        "operationId": "EnableBeneficiary",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the beneficiary to enable.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The updated beneficiary record.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.Beneficiary"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.Beneficiary"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.Beneficiary"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/beneficiaries/batchcreate": {
      "post": {
        "tags": [
          "Beneficiaries"
        ],
        "summary": "Creates beneficiaries in batch.",
        "description": "\n\n<b>Authorization</b>: End user token is required.\n\n<b>User permissions required</b>: CanCreateBeneficiaries",
        "operationId": "CreateBeneficiaries",
        "requestBody": {
          "description": "A list of objects containing the details of the beneficiaries to create.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.BeneficiaryCreate"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A BeneficiariesCreateResponse.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Api.Features.Beneficiaries.BeneficiariesCreateResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Api.Features.Beneficiaries.BeneficiariesCreateResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Api.Features.Beneficiaries.BeneficiariesCreateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/currencies": {
      "get": {
        "tags": [
          "Currencies"
        ],
        "summary": "Gets the supported currencies exposed by the platform.",
        "operationId": "GetCurrencies",
        "parameters": [
          {
            "name": "capability",
            "in": "query",
            "description": "Optional. When supplied, only currencies configured for the requested capability are returned.\n\nCapability values:\n- `None`: No capability flags are selected. Using this value as a filter returns no currencies.\n- `Holding`: Currency is supported for held balances and payment accounts.\n- `Inbound`: Currency is supported for inbound payment flows.\n- `FxConversion`: Currency is supported for FX conversion flows.",
            "schema": {
              "enum": [
                "None",
                "Holding",
                "Inbound",
                "FxConversion"
              ],
              "type": "string",
              "description": "Capability values:\n- `None`: No capability flags are selected. Using this value as a filter returns no currencies.\n- `Holding`: Currency is supported for held balances and payment accounts.\n- `Inbound`: Currency is supported for inbound payment flows.\n- `FxConversion`: Currency is supported for FX conversion flows."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the list of currencies and their static metadata.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.Currency.CurrencyInfo"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.Currency.CurrencyInfo"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.Currency.CurrencyInfo"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/mandates/{id}": {
      "get": {
        "tags": [
          "Mandates"
        ],
        "summary": "Gets a specific mandate's information.",
        "description": "\n\n<b>Authorization</b>: End user or Merchant token is required.\n\n<b>User permissions required</b>: CanViewMandates",
        "operationId": "GetMandate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the mandate to retrieve information from.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Mandate information.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.Mandates.Mandate"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.Mandates.Mandate"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.Mandates.Mandate"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized error."
          },
          "404": {
            "description": "Not found error."
          }
        }
      }
    },
    "/api/v1/mandates": {
      "get": {
        "tags": [
          "Mandates"
        ],
        "summary": "Gets all mandates from a specific merchant with the supplied parameters.",
        "description": "\n\n<b>Authorization</b>: End user or Merchant token is required.\n\n<b>User permissions required</b>: CanViewMandates",
        "operationId": "GetMandatesPaged",
        "parameters": [
          {
            "name": "merchantID",
            "in": "query",
            "description": "ID of the merchant to retrieve mandates for.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number from where records are retrieved. Note that the paging starts from page 1.\r\n            If a 0 is supplied it will be treated as a 1 and the first page is returned.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The number of records to be retrieved from a page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "description": "The date filter to apply to retrieve mandates created after this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "description": "The date filter to apply to retrieve mandates created up until this date.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "The status filter to apply to retrieve mandates with this status",
            "schema": {
              "enum": [
                "Unknown",
                "Pending",
                "Active",
                "Expired",
                "Failed"
              ],
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "The text filter to apply to retrieve mandates with similar customer, bank account or mandate information.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "description": "The currency filter to apply to retrieve mandates with this currency.",
            "schema": {
              "enum": [
                "NONE",
                "GBP",
                "EUR",
                "USD",
                "AUD",
                "BGN",
                "CAD",
                "CZK",
                "DKK",
                "HUF",
                "ISK",
                "CHF",
                "NOK",
                "PLN",
                "RON",
                "AED",
                "CNH",
                "HKD",
                "ILS",
                "JPY",
                "MXN",
                "NZD",
                "SAR",
                "SEK",
                "SGD",
                "TRY",
                "ZAR",
                "BTC"
              ],
              "type": "string"
            }
          },
          {
            "name": "minAmount",
            "in": "query",
            "description": "The amount filter to apply to retrieve mandates that exceed this amount.",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "maxAmount",
            "in": "query",
            "description": "The amount filter to apply to retrieve mandates that don't exceed this amount.",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "mandateIDs",
            "in": "query",
            "description": "Optional list of mandate IDs to filter by. When supplied, only mandates whose ID is in this list are returned.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Optional expression to sort the order of the mandates. Example \"Amount desc,Inserted asc\".",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Mandate collection paged result.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.Biz.BizModels.Paging.MerchantDirectDebitMandatePageResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.Biz.BizModels.Paging.MerchantDirectDebitMandatePageResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.Biz.BizModels.Paging.MerchantDirectDebitMandatePageResponse"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized error."
          }
        }
      },
      "post": {
        "tags": [
          "Mandates"
        ],
        "summary": "Creates a Direct Debit mandate.",
        "description": "\n\n<b>Authorization</b>: End user or Merchant token is required.\n\n<b>User permissions required</b>: CanCreateMandates",
        "operationId": "CreateMandate",
        "requestBody": {
          "description": "Mandate, customer and bank account information model.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.Mandates.MandateCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.Mandates.Mandate"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.Mandates.Mandate"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.Mandates.Mandate"
                }
              }
            }
          },
          "201": {
            "description": "Mandate information."
          },
          "400": {
            "description": "Configuration error."
          },
          "403": {
            "description": "Unauthorized error."
          }
        }
      }
    },
    "/api/v1/merchants/{merchantID}/tokens": {
      "get": {
        "tags": [
          "Merchants"
        ],
        "summary": "Gets a list of a merchant's issued API tokens.",
        "description": "\n\n<b>Authorization</b>: End user token is required.\n\n<b>User permissions required</b>: CanViewTokens",
        "operationId": "GetMerchantTokens",
        "parameters": [
          {
            "name": "merchantID",
            "in": "path",
            "description": "The ID of the merchant to get the tokens for.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The page number from where records are retrieved.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of records to be retrieved from a page.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of the API tokens issued for the merchant.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.MerchantTokenPageResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.MerchantTokenPageResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.MerchantTokenPageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/merchants": {
      "get": {
        "tags": [
          "Merchants"
        ],
        "summary": "Get's a list of merchants the caller has access to.",
        "description": "\n\n<b>Authorization</b>: End user token is required.",
        "operationId": "GetMerchants",
        "responses": {
          "200": {
            "description": "Returns a list of merchants.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.Merchant"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.Merchant"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.Merchant"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/merchants/paged": {
      "get": {
        "tags": [
          "Merchants"
        ],
        "summary": "Get a paged list of all the merchants the caller has access to.",
        "description": "\n\n<b>Authorization</b>: End user token is required.",
        "operationId": "GetMerchantsPaged",
        "parameters": [
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Optional. The page number to retrieve.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Optional. The number of merchants per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "The text filter to apply to retrieve merchants with a similar name, ID etc.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Optional expression to sort the order of the merchants. Example \"Name desc,Inserted asc\".",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeSuspended",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of the merchants the caller has access to.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.MerchantPageResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.MerchantPageResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.MerchantPageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/merchants/{merchantID}": {
      "get": {
        "tags": [
          "Merchants"
        ],
        "summary": "Get's a merchant.",
        "description": "\n\n<b>Authorization</b>: End user token is required.",
        "operationId": "GetMerchant",
        "parameters": [
          {
            "name": "merchantID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the requested merchant.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.Merchant"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.Merchant"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.Merchant"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Merchants"
        ],
        "summary": "Updates a merchant's details.",
        "description": "\n\n<b>Authorization</b>: End user token is required.\n\n<b>User permissions required</b>: CanUpdateMerchant",
        "operationId": "UpdateMerchant",
        "parameters": [
          {
            "name": "merchantID",
            "in": "path",
            "description": "The ID of the merchant to update.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "The details to update for the merchant.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.MerchantUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the updated merchant.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.Merchant"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.Merchant"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.Merchant"
                }
              }
            }
          },
          "404": {
            "description": "Indicates the merchant record could not be found."
          },
          "401": {
            "description": "Indicates the user is not authorised to perform this operation."
          },
          "403": {
            "description": "Indicates the user is not authorised to perform this operation."
          }
        }
      }
    },
    "/api/v1/merchants/{merchantID}/beneficiaries": {
      "get": {
        "tags": [
          "Merchants"
        ],
        "summary": "Gets a list of all beneficiaries.",
        "description": "\n\n<b>Authorization</b>: End user token is required.\n\n<b>User permissions required</b>: CanViewBeneficiaries",
        "operationId": "GetMerchantBeneficiaries",
        "parameters": [
          {
            "name": "merchantID",
            "in": "path",
            "description": "The ID of the merchant to get the beneficiaries for.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The page number from where records are retrieved.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of records to be retrieved from a page.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "The text filter used to retrieve the records..",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "description": "The currency filter used to retrieve the records..",
            "schema": {
              "enum": [
                "NONE",
                "GBP",
                "EUR",
                "USD",
                "AUD",
                "BGN",
                "CAD",
                "CZK",
                "DKK",
                "HUF",
                "ISK",
                "CHF",
                "NOK",
                "PLN",
                "RON",
                "AED",
                "CNH",
                "HKD",
                "ILS",
                "JPY",
                "MXN",
                "NZD",
                "SAR",
                "SEK",
                "SGD",
                "TRY",
                "ZAR",
                "BTC"
              ],
              "type": "string"
            }
          },
          {
            "name": "includeDisabled",
            "in": "query",
            "description": "If set to true will include disabled beneficiaries as well",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Optional expression to sort the order of the beneficiaries.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sourceAccountID",
            "in": "query",
            "description": "Optional source account ID to filter beneficiaries by their source account.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A BeneficiaryPageResponse containing the list of beneficiaries.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.BeneficiaryPageResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.BeneficiaryPageResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoFrixion.MoneyMoov.Models.BeneficiaryPageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/merchants/{merchantID}/beneficiaries/export": {
      "get": {
        "tags": [
          "Merchants"
        ],
        "summary": "Exports a list of all beneficiaries.",
        "description": "\n\n<b>Authorization</b>: End user token is required.\n\n<b>User permissions required</b>: CanViewBeneficiaries",
        "operationId": "ExportMerchantBeneficiaries",
        "parameters": [
          {
            "name": "merchantID",
            "in": "path",
            "description": "The ID of the merchant to get the beneficiaries for.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "The page number from where records are retrieved.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of records to be retrieved from a page.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "The text filter used to retrieve the records..",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "description": "The currency filter used to retrieve the records..",
            "schema": {
              "enum": [
                "NONE",
                "GBP",
                "EUR",
                "USD",
                "AUD",
                "BGN",
                "CAD",
                "CZK",
                "DKK",
                "HUF",
                "ISK",
                "CHF",
                "NOK",
                "PLN",
                "RON",
                "AED",
                "CNH",
                "HKD",
                "ILS",
                "JPY",
                "MXN",
                "NZD",
                "SAR",
                "SEK",
                "SGD",
                "TRY",
                "ZAR",
                "BTC"
              ],
              "type": "string"
            }
          },
          {
            "name": "includeDisabled",
            "in": "query",
            "description": "If set to true will include disabled beneficiaries as well",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Optional expression to sort the order of the beneficiaries.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a CSV file containing the list of beneficiaries.",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "202": {
            "description": "Accepted. The CSV file is being generated."
          }
        }
      }
    },
    "/api/v1/merchants/{merchantID}/beneficiaries/{id}": {
      "get": {
        "tags": [
          "Merchants"
        ],
        "summary": "Get's a beneficiary by beneficiary ID.",
[...]
